/*
  Theme Name: eCom. - Minimal eCommerce HTML Template.
  Description: eCommerce  HTML5 template.
  Version: 1.0
*/

/* CSS Index
------------
1. Theme default css
2.
3.
*/

/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
 body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    background-color: #e5e5e5;
    overflow-x: hidden;
}
a,
button {
	color: #1696e7;
	outline: medium none;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
a:hover {
	color: #2B96CC;
	text-decoration: none;
}
a:focus,
button:focus {
	text-decoration: none;
	outline: none;
}
button:focus,input:focus,textarea,textarea:focus{
    outline: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #313131;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	margin: 0 0 15px;
}
p:last-child {
    margin: 0 0 0;
}
img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.slick-slide img {
    width: 100%;
}
.owl-carousel .owl-item img {
    width: auto;
    display: inline-block;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
/* button style */
.owl-carousel .owl-nav div {
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	height: 40px;
	left: 20px;
	line-height: 40px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 40px;
}
.owl-carousel .owl-nav div.owl-next {
	left: auto;
	right: 20px;
}
.owl-carousel:hover .owl-nav div {
	opacity: 1;
	visibility: visible;
}
.owl-carousel .owl-nav div:hover {
	background: #2B96CC;
	color: #fff
}

/* scrollUp starts*/
#scrollUp {
	background: #7DBA2F;
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
}
#scrollUp:hover {
	background: #444;
}
/* scrollUp end*/






















































.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: -35px;
}
.slick-dots li {
    margin-left: 5px;
}
.slick-dots li button {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #c4c4c4;
    text-indent: -9999px;
}
.slick-dots li.slick-active button {
    background-color: #EB5757;
}

.slick-vertical .slick-slide {
    border: 0;
}
.bg-image-center {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
button.no-bg-bd,
button.no-bd-bg {
    border: 0;
    background-color: transparent;
}
ul.list-inline > li {
    display: inline-block;
}
h5.heading-3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}


.heading-1-wrap {
    padding-left: 13px;
    /*padding: 10px 0 10px 13px;*/
    border-left: 3px solid #328CD8;
    margin-bottom: 35px;
}
.heading-1-wrap h5 {
    font-size: 22px;
    margin-bottom: 18px;
    line-height: 1;
}
.heading-1-wrap p {
    line-height: 1;
}


.heading-4-wrap {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #111;
    margin-bottom: 15px;
}
.heading-4 {
    display: inline-block;
    background: #111;
    color: #fff;
    padding: 2px 20px 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 33px;
    font-weight: 600;
    margin-bottom: 0;
}

.heading-4-wrap a {
    font-weight: 600;
}

.row-less-padding {
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.row-less-padding [class*="col-"] {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.theme-overlay {
    position: relative
}
.theme-overlay::before {
    background: #2B87D4;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}
.pd-b-100 {
    padding-bottom: 100px;
}
.pd-b-60 {
    padding-bottom: 60px;
}
.pd-t-60 {
    padding-top: 60px;
}





































/*header-and-sidebar-wrap start*/
.header-and-sidebar-wrap {
    position: relative;   
}
/*header start*/
.header-area {
    /*position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;*/
}
.header-area .container-fluid {
    padding: 0 35px;
}
/*header-top start*/
.header-top {
    padding: 16px 0;
    letter-spacing: .8px;
    color: #fff;
    background-color: #252F3E;
}
.header-top a, 
.header-top button {
    letter-spacing: .8px;
    color: #fff;
    font-size: 14px;
}
.header-language-currency-selector > * {
    margin-right: 25px;
    position: relative;
}
.header-language-currency-selector > *:last-child {
    margin-right: 0;
}
.dropdown-menu {
    background: #fff none repeat scroll 0 0;
    -webkit-box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
    box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
    padding: 8px 0;
    min-width: 120px;
    border-radius: 0;
}
.dropdown-menu a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 13px;
    padding: 0 10px;
    line-height: 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    color: #181818;
}
.dropdown-menu a img {
    margin-right: 5px;
}
/*header-top end*/


















/*header-bottom start*/
.header-bottom {
    background-color: #f9f9f9;
}
.main-menu ul li {
    padding: 0 15px;
    position: relative;
}
.main-menu ul li > a {
    font-size: 14px;
    color: #555252;
    font-weight: 600;
    letter-spacing: .8px;
    display: inline-block;
    padding: 30px 0;
}
.header-widgets-wrap .header-widget {
    margin-left: 14px;
    position: relative;
}
.header-widgets-wrap .header-widget:first-child {
    margin-left: 0px;
}
.header-widgets-wrap .header-widget > button {
    color: #000;
    font-size: 23px;
}
/*header-bottom end*/
/*header end*/



















/*sidebar start*/
.fixed-sidebar {
    position: absolute;
    top: 137px;
    left: 0;
    z-index: 9;
    height: 1000vh;
}
/*fixed-sidebar-left-wrap start*/
.fixed-sidebar-left {
    position: absolute;
    height: 100%;
    transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    
    padding-top: 8px;
    background-color: #f9f9f9;
}
.fixed-sidebar-left .sidebar-toggle-btn {
    font-size: 21px;
    margin-top: 7px;
    margin-bottom: 18px;
}
.fixed-sidebar-left .sidebar-toggle-btn i {
    transform: scale(1.2);
}
.fixed-sidebar-left a {
    color: #111;
    font-size: 19px;
    padding: 5px 10px;
    margin-bottom: 15px;
    display: block;
    text-align: center;
}
.fixed-sidebar-left a i {
    transform: scale(1.2);
}
/*when sidebar open animation start*/
.fixed-sidebar-left-wrap.open .fixed-sidebar-left {
    transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
/*when sidebar open animation end*/
/*sidebar-small start*/
.fixed-sidebar-left.sidebar-small {
    width: 70px;
    transition-delay: .3s;
    text-align: center;
}
/*when sidebar-small open start*/
.fixed-sidebar-left-wrap.open .fixed-sidebar-left.sidebar-small {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
/*when sidebar-small open end*/
/*sidebar-small end*/
/*sidebar-large  start*/
.fixed-sidebar-left.sidebar-large {
    padding-left: 10px;
}
.fixed-sidebar-left.sidebar-large .sidebar-toggle-btn i {
    margin-right: 15px;
}
.fixed-sidebar-left.sidebar-large {
    text-align-last: left;
    text-align: left;
    width: 200px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.fixed-sidebar-left.sidebar-large a i {
    margin-right: 15px;
}
/*when sidebar-large open start*/
.fixed-sidebar-left-wrap.open .fixed-sidebar-left.sidebar-large {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition-delay: .3s;
}
/*when sidebar-large open end*/
/*sidebar-large  end*/
/*fixed-sidebar-left-wrap end*/

/*fixed-sidebar-right-wrap start*/
.fixed-sidebar.right {
    left: auto;
    right: 0;
}
.fixed-sidebar-right {
    position: absolute;
    height: 100%;
    right: 0;
    transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    
    padding-top: 8px;
    background-color: #f9f9f9;
}
.fixed-sidebar-right .sidebar-toggle-btn {
    font-size: 21px;
    margin-top: 7px;
    margin-bottom: 18px;
}
.fixed-sidebar-right .sidebar-toggle-btn i {
    transform: scale(1.2);
}
.fixed-sidebar-right a {
    color: #111;
    font-size: 17px;
    margin-bottom: 15px;
    display: block;
    text-align: center;
}
.fixed-sidebar-right a i {
    transform: scale(1.2);
}
/*when sidebar open animation start*/
.fixed-sidebar-right-wrap.open .fixed-sidebar-right {
    transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
/*when sidebar open animation end*/
/*sidebar-small start*/
.fixed-sidebar-right.sidebar-small {
    width: 70px;
    transition-delay: .3s;
    text-align: center;
}
/*when sidebar-small open start*/
.fixed-sidebar-right-wrap.open .fixed-sidebar-right.sidebar-small {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
/*when sidebar-small open end*/
/*sidebar-small end*/
/*sidebar-large  start*/
.fixed-sidebar-right.sidebar-large {
    padding-left: 10px;
}
.fixed-sidebar-right.sidebar-large .sidebar-toggle-btn i {
    margin-right: 15px;
}
.fixed-sidebar-right.sidebar-large {
    text-align-last: left;
    text-align: left;
    width: 200px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.fixed-sidebar-right.sidebar-large a i {
    margin-right: 15px;
}
/*when sidebar-large open start*/
.fixed-sidebar-right-wrap.open .fixed-sidebar-right.sidebar-large {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition-delay: .3s;
}
/*when sidebar-large open end*/
/*sidebar-large  end*/
/*fixed-sidebar-right-wrap end*/
/*sidebar end*/
/*header-and-sidebar-wrap end*/
.users-chat li {
    display: inline-block;
    margin-bottom: 15px;
    /*margin: 0 10px;*/
}
.users-chat li a {
    margin-bottom: 0;
}

















/*main start*/
main {}
.page-box {
    margin-top: 140px;
    margin: 15px 85px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-body.p-1-rem {
    padding: 1rem 1rem !important;
}
/*main end*/















.user-avatar {
    display: inline-block;
    position: relative;
}
.user-avatar img {
    width: 37px;
    height: 373px;
    border-radius: 50%;
    display: block;
    border-radius: 50%;

    height: auto;
    border-radius: 50%;
    overflow: hidden;
}
.online-availability {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    display: inline-block;
    position: absolute;
    left: 3.5%;
    top: 3.5%;
    border: 2px solid #fff;
    z-index: 333;
}
.online-availability.online {
    background: #00CB39;
}
.online-availability.away {
    background: #F2994A;
}
.online-availability.offline {
    background: #BDBDBD;
}
.hover-item .online-availability {
    border-color: #fff;
}
















/*hero-area start*/
/*hero-area start*/
.hero-bg-image-1 {
    background-image: url(../img/hero/hero-bg-1.jpg);
    background-position: bottom right;
}

.single-hero {
    height: 480px;
    margin: 0 0 30px;
    /*width: calc(100% - 30px);*/
    width: 100%;
    color: #fff;
    border-radius: 0;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c88d5+0,68b8ed+71,2c88d5+100 */
    background: #2c88d5; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #2c88d5 0%, #68b8ed 71%, #2c88d5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #2c88d5 0%,#68b8ed 71%,#2c88d5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #2c88d5 0%,#68b8ed 71%,#2c88d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c88d5', endColorstr='#2c88d5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: relative;

}


.hero-tagline {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 19px;
    text-transform: uppercase;
    font-weight: 600;
}

.hero-heading {
    font-size: 47px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}



.box-btn {
    color: #fff;
    background-color: rgba(255,255,255,.25);
    padding: 7px 35px 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.box-btn:hover {
    background-color: #000;
    color: #fff;
}
/*hero-area end*/
/*hero-area end*/














/*focus-area start*/
.focus-area {
    padding-top: 100px;
    padding-bottom: 100px;
}
.single-focus {
    position: relative;
}
.single-focus:before {
    position: absolute;
    right: -14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #d5d4d4;
    height: 61px;
    width: 1px;
    content: "";
}
.focus-area div[class^=col-]:last-child .single-focus:before {
    width: 0;
}
.single-focus img {

}
.single-focus h4 {
    font-size: 16px;
    color: #494949;
    margin: 12px 0 8px;
    line-height: 24px;
}
.single-focus p {
    font-size: 14px;
    margin: 0 auto;
    width: 82%;
    color: #6a6a6a;
} 

/*focus-area end*/


/*category-area start*/
.single-category {
    position: relative;
}
.category-thumb {
    height: 360px;
    width: 100%;
}
.category-badge {
    padding: 9px 23px 10px 23px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    font-size: 15px;
    font-weight: 700;
}
/*category-area end*/

























/*produc-wrap start*/
.single-product {
    position: relative;
    border-radius: 0;
    overflow: hidden;
}

.product-images-wrap {
    position: relative;
}

.product-images-wrap .product-image {
    width: 100%;
    height: 280px;
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.single-product:hover .default-image {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: hidden;
}
.product-images-wrap .hover-image {
    position: absolute;
    top: 0px;
    visibility: hidden;
    left: 0px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.single-product:hover .hover-image {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.product-description {
    padding: 25px 20px 20px;
    background-color: #f2f2f2;
}
.product-title {
    font-weight: 600;
    color: #000;
    letter-spacing: .32px;
    font-size: 17px;
    border-bottom: 1px solid rgba(0,0,0,0.09);
    padding-bottom: 13px;
    margin-bottom: 10px !important;
}







































.product-add-cart-text {
    font-size: 14px;
    margin-top: 15px;
    color: #2C88D5 !important;
    font-weight: 600;
}

.product-add-cart-text i { 
    transform: scale(1.4);
    margin-right: 10px;
}

.product-price {
    font-size: 15px;
    font-weight: 600;
}

























.product-hover {
    position: absolute;
    right: 0;
    top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
.single-product:hover .product-hover {
    right: 20px;
    opacity: 1;
    visibility: visible;
}
.product-hover a {
    /*background: rgba(120, 120, 120, 0.6);*/
    background-color: #54A9E6;
    color: #fff;
    font-size: 15px;
    margin-bottom: 7px;
    width: 27px;
    text-align: center;
    height: 27px;
    line-height: 27px;
    border-radius: 6px;
}
.product-hover a:hover {
    background-color: #ff5353;
}
/*produc-wrap end*/














/*from-blog-wrap start*/
.single-from-blog-post {
    border-radius: 0;
    overflow: hidden;
}
.from-blog-wrap .blog-thumb {
    width: 100%;
    height: 260px;
}
.from-blog-wrap .blog-title {
    font-size: 15px;
    color: #333;
    font-weight: 600;
    line-height: 26px;
    margin-top: 12px;
    margin-bottom: 0;
}
.from-blog-wrap .blog-meta a {
    color: #555252;
    font-size: 12px;
}
.from-blog-wrap .blog-meta a i {
    margin-right: 3px;
}

.single-from-blog-post .blog-content {
    border: 1px solid #eee;
    margin-top: -1px;
    background-color: #f2f2f2;
}
/*from-blog-wrap end*/


























/*recent-post start*/
.recent-posts {
    padding: 8px;
    border: 1px solid #eee;
}
.recent-posts .card-header {
    border-radius: 0;
    border-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.recent-post-links {
    margin-right: -8px;
}
.single-recent-post-wrap {
    width: 33.3333%;
    float: left;
    padding: 0 8px 8px 0;
    border-radius: 0;
    
}
.single-recent-post-wrap img {
   width: 100%;
   height: auto;
}
.recent-posts .card-body {
    margin-bottom: -8px;
    background-color: #fff;
}
/*recent-post end*/





































































































































.brand-area {
    background-color: #f2f2f2;
}
.brand-area-heading  {
    text-align: right;
    padding-right: 30px;
    border-right: 3px solid #328CD8;
}
.brand-area-heading h2 {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 28px;
}






















































/*temporary css start*/
.flash-sell-area {
    /*margin-top: 600px;*/
}

/*temporary css end*/